@import "../../global.scss";

.trial{
    background-color:black;
    display: flex;
    

    @include mobile{
        flex-direction: column;
        align-items: center;
    }



    .left{
        flex: 0.5;
        overflow-y: hidden;
        @include mobile{
            text-align: center;
        
                
        }
        .imageContainer{
            
            width: 700px;
            height: 700px;
            background-color: gray;
            border-radius: 50%;
            text-align:center;
            align-items: flex-start;
            justify-content: center;
            float: left;
            
            

            

            @include mobile{
                align-items: center;
                overflow-y: hidden;
                background-color: gray;
                text-align:center;
                float: left;
                justify-content: center;
                border-radius: 50%;
                
                
                    
                    
            
               
            }
            
        }

        
        
        

        
        
        

        img{
            width: 500px;
            height: 500px;


            @include mobile{
                width: 300px;
                height: 300px;
                
                text-align: center;
                
                
                
            }
        }

        
        

    }

    .right{
        flex:2.5;
        padding-top: 70px;
        overflow-y: hidden;
        margin-left: 5px;
        margin-right: 50px;
        

        @include mobile{
            align-items: flex-start;
            padding-top: 0%;
            overflow-y: hidden;
            margin-left: 0px;  
            margin-right: 0px;
            padding-top: 0px;
            margin-top: 0px;
            float: left;
            overflow-y: hidden;
        }
        .heading{
            @include mobile{
                font-size: 0.7rem;
                margin-top: 0%;
                text-align: center;
                 
            }

        }


        h1,h3,p{
            color: white;
            @include mobile{
                
                 
            }


        }

        .text{
            
            
            @include mobile{
                padding-top: 0%;
                margin-top: 0%;
                height: 90%;
            }
            
            

        }
    }

    .button{
        align-items: flex-start;
        margin-right: 200px;

        button{
            @include mobile{
                display: none;     
            }

        }
       
        
        
    }
   

    .text{
        align-items: center;
        

       .share{
        @include mobile{
            margin-top: 5px;
            text-align: center;
   
         }
           margin-top: 20px;
           hr{
                width: 45%;
                color: orange;

                @include mobile{
                   display: none;
           
                 }
           }
           h3{
               color: white;
               @include mobile{
                color: orange;
                
       
             }
           }
       }
      .remaining{
        @include mobile{
            display: none;
   
         }

      }

        p{
            text-align: justify;
            line-height: 1.8;
            @include mobile{
               line-height: 1.3;
      
            }
            



        }
    }

}