@import "../../global.scss";

.trial{
    background-color:black;
    display: flex;
    

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    @include iphone8{
        flex-direction: column;
        align-items: center;
    }

    @include tablet{
        flex-direction: column;
        align-items: center;
    }



    .left{
        flex: 0.5;
        overflow-y: hidden;
        
        
        @include mobile{
            text-align: center;
                
        }
        @include iphone8{
            text-align: center;  
        }

        @include tablet{
            text-align: center;  
        }
        .imageContainer{
            background-color: gray;
            border-radius: 50%;
            text-align:center;
            align-items: center;
            justify-content: center;
            float: left;
            margin-left: 0%;
            margin-right: 120px;
           
            

            @include mobile{
                align-items: flex-end;
                overflow-y: hidden;
                background-color: gray;
                text-align:center;
                float: left;
                justify-content: center;
                border-radius: 70%;
                margin-right: 0px;
               
            }

            @include iphone8{
                align-items: flex-end;
                overflow-y: hidden;
                background-color: gray;
                text-align:center;
                float: left;
                justify-content: center;
                border-radius: 70%;
                margin-right: 0px;
            }

            @include tablet{
                align-items: flex-end;
                overflow-y: hidden;
                background-color: gray;
                text-align:center;
                float: left;
                justify-content: center;
                border-radius: 70%;
                margin-right: 0px;
            }
            
        }

        
        
        

        
        
        

        img{
            width: 500px;
            height: 500px;


            @include mobile{
                width: 300px;
                height: 300px;
                
                text-align: center;
                
                
                
            }

            @include iphone8{
                width: 300px;
                height: 300px;
                
                text-align: center;
                
                
                
            }

            @include tablet{
                width: 300px;
                height: 300px;
                
                text-align: center;
                
                
                
            }
        }

        
        

    }

    .right{
        flex:2.5;
        padding-top: 70px;
        overflow-y: hidden;
        margin-left: 5px;
        margin-right: 50px;

        .share{
           justify-content: center;
           

           @include mobile{
               justify-content: center;
               align-items: center;
               margin-left: 65px;
               font-size: 0.7rem;
                
                 
        }

        @include iphone8{
            justify-content: center;
            align-items: center;
            margin-left: 65px;
            font-size: 0.7rem;

             
              
        }

        @include tablet{
            justify-content: center;
            align-items: center;
            margin-left: 65px;
            font-size: 0.7;
              
        }
           
        }
        

        .button{
           
           
            width: 150px;
           
        }
        

        @include mobile{
            align-items: flex-start;
            padding-top: 0%;
            overflow-y: hidden;
            margin-left: 0px;  
            margin-right: 0px;
            padding-top: 0px;
            margin-top: 0px;
            float: left;
            overflow-y: hidden;
        }

        @include iphone8{
            align-items: flex-start;
            padding-top: 0%;
            overflow-y: hidden;
            margin-left: 0px;  
            margin-right: 0px;
            padding-top: 0px;
            margin-top: 0px;
            float: left;
            overflow-y: hidden;
        }

        @include tablet{
            align-items: flex-start;
            padding-top: 0%;
            overflow-y: hidden;
            margin-left: 0px;  
            margin-right: 0px;
            padding-top: 0px;
            margin-top: 0px;
            float: left;
            overflow-y: hidden;
        }
        .heading{
            @include mobile{
                font-size: 0.5rem;
                margin-top: 0%;
                text-align: center;
                 
            }

            @include iphone8{
                font-size: 0.5rem;
                margin-top: 0%;
                text-align: center;
                 
            }

            @include tablet{
                font-size: 0.5rem;
                margin-top: 0%;
                text-align: center;
                 
            }

        }


        h1,h3,p{
            color: white;
            @include mobile{
                
                 
            }


        }

        .text{
            
            .remaining{
                p{
                    @include mobile{
                        font-size: 12px;
                        
                    }
    
                    @include iphone8{
                        font-size: 12px;
                        
                    }

                    @include tablet{
                        font-size: 12px;
                        
                    }
                    
                }

            }
            p{
                @include mobile{
                    font-size: 12px;
                    
                }

                @include iphone8{
                    font-size: 12px;
                    
                }

                @include tablet{
                    font-size: 12px;
                    
                }
                
            }
            
            
            @include mobile{
                padding-left: 10px;
                margin-top: 0%;
                height: 90%;
            }

            @include iphone8{
                padding-left: 10px;
                margin-top: 0%;
                height: 90%;
            }

            @include tablet{
                padding-left: 10px;
                margin-top: 0%;
                height: 90%;
            }
            
            

        }
    }

    .button{
        align-items: flex-start;
        margin-right: 200px;

        button{
            @include mobile{
                display: none;     
            }

            @include iphone8{
                display: none;     
            }

            @include tablet{
                display: none;     
            }

        }
       
        
        
    }
   

    .text{
        align-items: center;
        

       .share{
        @include mobile{
            margin-top: 5px;
            text-align: center;
   
        }
           margin-top: 20px;
           hr{
                width: 45%;
                color: orange;

                @include mobile{
                   display: none;
           
                }

                 @include iphone8{
                    display: none;
            
                }

                @include tablet{
                    display: none;
            
                 }
           }
           h3{
               color: white;
               @include mobile{
                color: orange;
                
       
             }

             @include iphone8{
                color: orange;
                
       
             }
             @include tablet{
                color: orange;
                
       
             }
           }
       }
      .remaining{
        @include mobile{
            display: none;
   
         }
         @include iphone8{
            display: none;
   
         }

         @include tablet{
            display: none;
   
         }

      }

        p{
            text-align: justify;
            line-height: 1.8;
            @include mobile{
               line-height: 1.3;
      
            }
            @include iphone8{
                line-height: 1.3;
       
             }

             @include tablet{
                line-height: 1.3;
       
             }
            



        }
    }

}