@import "../../global.scss";
.begin{
    background-color: white;
    .cards{
        display: flex;
        justify-content: space-evenly;
        margin-left: 90px;
        margin-top: 40px;
        flex-direction: row;

       
        .card2{
            @include mobile{
                display: none;  
            }
    
            @include iphone8{
                display: none;  
            }
        }
    
        @include iphone8{
            flex-direction: column;  
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            margin-left: 30px;
        }
    
        @include mobile{
            flex-direction: column;  
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            margin-left: 30px;
        }
    
        @include tablet{
            flex-direction: column;  
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            margin-left: 30px;
        }
        .card1,.card2, .card3{
            width: 100%;
            @include mobile{
                margin-top: 57px; 
                overflow-y: hidden; 
            }
    
            @include iphone8{
                margin-top: 57px; 
                overflow-y: hidden; 
            }
    
            @include tablet{
                margin-top: 57px; 
                overflow-y: hidden; 
            }
            .image{
                margin-left: 30px;
                @include iphone8{
                    margin-left: 100px; 
                }
                @include mobile{
                    margin-left: 100px; 
                }
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
        
                    @include mobile{
                        width: 100px; 
                        height: 100px; 
                        border-radius: 50%;
                    }
        
                    @include iphone8{
                        width: 100px; 
                        height: 100px; 
                        border-radius: 50%;
                    }
        
                    @include tablet{
                        width: 100px; 
                        height: 100px; 
                        border-radius: 50%;
                    }
                }
    
            }
            
        }
    
        .content{
            align-items: center;
            
            h3{
                margin-top: 10px;
                @include mobile{
                    font-size: 14px; 
                    margin-left: 100px;
                }

                @include iphone8{
                    font-size: 14px; 
                    margin-left: 100px;
                }

            }
            
            
            .location{
                display: flex;
                margin-top: 20px;
                @include mobile{ 
                    margin-top: 0px;
                }

                .left{
                    width: 100px;
                    @include mobile{
                        width: 90px;  
                        margin-left: 70px;
                        margin-top: 5px;
                    }
                    @include iphone8{
                        width: 90px; 
                        margin-left: 70px; 
                        margin-top: 5px;
                    }

                    p{
                        @include iphone8{
                            font-size: 9px;  
                        }
    
                        @include tablet{
                            font-size: 9px;  
                        }

                    }
                }

                .button{
            
                    button{
                        padding: 4px;
                        width: 100px;

                        @include mobile{
                            width: 50px;  
                        }

                        @include iphone8{
                            width: 50px;  
                        }
                        @include tablet{
                            width: 50px;  
                        }

                        p{
                            @include iphone8{
                                font-size: 7px;  
                            }

                            @include tablet{
                                font-size: 7px;  
                            }
                            
                         
                        }
        
                        
                    }
                    
        
                    
                }
                
            }
            
    
            .words{
                width: 60%;
                margin-top: 10px;
                @include mobile{
                    width: 50%; 
                    margin-left: 70px; 
                    margin-top: 0px;
                }
                @include iphone8{
                    width: 50%; 
                    margin-left: 70px; 
                }
                p{
                    
                    @include mobile{
                        text-align: end;
                        font-size: 12px;  
                    }
                    @include iphone8{
                        text-align: center; 
                        font-size: 12px; 
                    }
                    
                }
            }
        }
    }
}
