@import "../../global.scss";

.contact{
    background-color: peru;

    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;


    @include mobile{
        flex-direction:column;
        align-items: flex-start;  
        
    }

    @include iphone8{
        flex-direction:column;
        align-items: flex-start;  
    }

    @include tablet{
        flex-direction:column;
        align-items: flex-start; 
        
    }
   


    .left{
        flex: 0.5;
        overflow-y: hidden;

        @include mobile{
            display: none; 
        }

        @include iphone8{
            display: none;

        }

        
       
        
        .imageContainer{
            width: 700px;
            height: 700px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            overflow-y: hidden;


            img{
                width: 70%;
                height: 70%;
                overflow-y: hidden;

                
            }
        }
    }
    .right{
        flex: 0.5;
        overflow-y: hidden;

        @include mobile{
            flex:0.5;  
        }

        @include iphone8{
            flex:0.5; 
        }

       

       
    
        .wrapper{
            
            padding: 150px 0;
            padding-left: 150px;
            position: absolute;


            @include mobile{
                padding: 0%;
            }

            @include iphone8{
                padding: 0%;  
            }

            @include tablet{
                padding: 0%; 
            }
            
            

            h1,p,h3{
                color: white;
            }
            button{
                background-color: transparent;
                border: 2px solid white;
                padding: 10px 10px;
                
                
            }
            .content{
                .button{
                    padding-left: 0.1px;
                    margin: 10px;
                    @include iphone8{
                        display: none;   
                    }
                    @include iphone8{
                        display: none;   
                    }

                    @include tablet{
                        display: none; 
                    }
                }
            }

            .text{
                p{
                    text-align: justify;
                    line-height: 1.8;

                    




                }

                .share{
                    margin-top: 50px;
                    
                    hr,h3{
                        width: 62%;
                        font-size: 15px;
                        color: white;
                        margin-left: 45px;
                    }
                }
            }
        }
        

        
    }
}