@import "../../global.scss";
.works{
    background-color: white;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    
    flex-direction: row;
    @include mobile{
        height: 200%;  
    }

    @include iphone8{
        height: 200%;  
    }

    @include iphone8{
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    @include mobile{
        flex-direction: column;  
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .card1,.card2, .card3{
        @include mobile{
            margin-top: 57px;  
        }

        @include iphone8{
            margin-top: 57px;  
        }
        
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }

    .content{
       
        align-items: center;
        .left{
            width: 100px;
        }
        
        p,h3{
            margin: auto;
            width: 50%;
            padding: 10px;
        }
        .location{
            display: flex;
            
        }
        .button{
        
            button{
                padding: 1px;
                width: 130px;

                p{
                    @include iphone8{
                        font-size: 7px;  
                    }
                    
                 
                }

                @include iphone8{
                    width: 90px;  
                }
            }
            

            
        }

        .words{
            
            p{
                text-align: justify;
                
            }
        }
    }
}