@import "../../global.scss";

.intro{
    background-color: white;
    overflow-y: hidden;


    .line{
        color:gray;
    
        @include mobile{
            display: none;
            
        }
    
        @include iphone8{
            display: none;
            
        }

        @include tablet{
            display: none;
            
        }
    
        
    }

    

.navlinks li{
    display: inline-block;
    padding: 0px 20px;

    @include mobile{
        display: none;
        
    }
    @include iphone8{
        display: none;
        
    }

    @include tablet{
        display: none;
        
    }
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 1%;   
    
}



    
    
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include mobile{
            flex-direction: column;
            align-items: center;
        }
    
        @include iphone8{
            flex-direction: column;
            align-items: center;
        }

       

        .left{
            flex: 0.5;
            margin-top: 2px;

            .wrapper{
                .content{
                    p,h1{
                        line-height: 1.8;

                        @include mobile{
                            line-height: 1.4;
                            
                        }

                        @include iphone8{
                            line-height: 1.4;
                            
                        }

                        @include tablet{
                            line-height: 1.1;
                            
                        }

                        
                     
                    }
        
                    
                }
    
                
            }

            
        }

        .right{
            flex: 0.5;
            .imageContainer{
                float: right;
                background-color: peru;
                border-radius: 50%;
                margin-top: 40px;

                @include mobile{
                    
                    margin-top: 5px;
                    
                }

                @include iphone8{
                    
                    margin-top: 5px;
                    
                }

                @include tablet{
                    
                    margin-top: 5px;
                    
                }
                img{
                    height: 450px;

                    @include mobile{
                        height: 250px;
                        
                    }

                    @include iphone8{
                        height: 250px;
                        
                    }

                    @include tablet{
                        height: 250px;
                        
                    }
                }
            }
        }
    }

    
}
