$width: 360px;
$width2: 375px;
$width3: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
        
    }
    
}

@mixin tablet {
    @media (max-width: #{$width3}) {
        @content
        
    }
    
}

@mixin iphone8 {
    @media (max-width: #{$width2}) {
        @content
        
    }
    
}